doctype html
html
  head
    meta(charset="utf-8")
    title D3.js Sample
    style.
        .chart div {
          font: 10px sans-serif;
          background-color: steelblue;
          text-align: right;
          padding: 3px;
          margin: 1px;
          color: white;
        }
  body
    .chart
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="main.js" charset="utf-8")